@model IEnumerable<UspgPOS.Models.DetallesEmpleado>

@{
	ViewData["Title"] = "Home Page";
	ViewData["Layout"] = "_LayoutLogged";
}
<div class="row">
	<div class="col-6">
		<div class="card">
			<div id="graficoExperiencia"></div>
		</div>
	</div>
	<div class="col-6">
		<div class="card">
			<div id="graficoTasaRotacion"></div>
		</div>
	</div>
	<div class="col-6">
		<div class="card">
			<div id=""></div>
		</div>
	</div>
	<div class="col-6">
		<div class="card">
			<div id=""></div>
		</div>
	</div>
</div>

<style>
	.card {
		padding: 10px;
		margin: 20px;
	}
</style>


<script>
	document.addEventListener("DOMContentLoaded", function () {
		const departamentos = @Html.Raw(Json.Serialize(Model.Select(detalleEmpleado => detalleEmpleado.Departamento)));
		const nivelesExperiencia = @Html.Raw(Json.Serialize(Model.Select(detalleEmpleado => detalleEmpleado.NivelExperiencia)));
		const tasasRotacion = @Html.Raw(Json.Serialize(Model.Select(detalleEmpleado => detalleEmpleado.TasaRotacion)));

		const configuracionGraficoExperiencia = {
			chart: {
				type: 'bar'
			},
			series: [
				{
					name: 'Experiecia (Años)',
					data: nivelesExperiencia
				}
			],
			xaxis: {
				categories: departamentos
			},
			title: {
				text: 'Nivel de Experiencia por Departamento'
			}
		}

		const graficoExperiencia = new ApexCharts(
			document.getElementById('graficoExperiencia'),
			configuracionGraficoExperiencia
		);

		graficoExperiencia.render();


	})

</script>